body {
    display: flex;
    height: 100vh;
    margin: 0;
}
.sidebar {
    width: 200px;
    background-color: #f8f9fa;
    height: 100%;
    padding-top: 56px; /* Space for fixed navbar */
    position: fixed; /* Fixed sidebar */
    overflow-y: auto; /* Scroll if needed */
}
.main-content {
    margin-left: 200px; /* Width của sidebar */
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto; /* Allow scrolling if needed */
}
.navbar {
    position: fixed;
    top: 0;
    width: calc(100% - 250px); /* Điều chỉnh chiều rộng cho sidebar */
    margin-left: 250px; /* Điều chỉnh cho sidebar */
    z-index: 1030;
}
